<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <style>
        form, input {
            display: block;
        }
        input {
            width: 70%;
        }
    </style>
     {% endblock %}
</head>
<body>
    <header>
        <a href="/"><h1>静网</h1></a>  
    </header>
    <aside>
        <form method="POST" action="{% block action_url %}{% endblock %}">
        {% block input_category %}
        <fieldset>
            <legend>服务类型</legend>
            <input id="id_new_category_name" name="new_category" type="text" placeholder="服务类型名">
            <input id="id_new_category_abbr" name="new_category_abbr" type="text" placeholder="服务类型名缩写">
            <input id="id_new_category_resume" name="new_category_resume" type="textarea" placeholder="服务类型简介">
        </fieldset>
        {% endblock %}
        <fieldset>
            <legend>服务</legend>
            <input id="id_new_service_name" name="new_service" type="text" placeholder="服务名">
            <input id="id_new_service_resume" name="new_service_resume" type="textarea" placeholder="服务简介">
        </fieldset>
            <input id="id_submit" type="submit" value="提交">
            {% csrf_token %}
        </form>
    </aside>

    <main>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block table %}
        {% endblock %}
    </main>
</body>
</html>

