<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device=device-width, initial=1.0">
    <title>静网</title>
</head>
<body>
    <h1>静网</h1>  
    <form method="POST">
        <input id="id_new_service_name" name="new_service" type="text" placeholder="服务名">
        <input id="id_submit" type="submit" value="提交">
        {% csrf_token %}
    </form>
    <table id="id_service_table">
        <tr>{{ new_service }}</tr>
    </table>
    
    
    
</body>
</html>

