{% extends "base.html" %}
{% block title %}静网{% endblock %}
{% block action_url %}/services/{{ category.slug }}/add{% endblock %}
{% block input_category %}{% endblock %}
{% block header %}
      <h1>{{ category.name }}</h1>
      <p><abbr title="{{ category.name }}">{{ category.abbr }}</abbr>{{ category.resume }}</p>
{% endblock %}
{% block table %}
    <article id="id_service_table" class="view_category">
      {% for service in category.service_set.all %}
      <article class="service">
        <h1>{{ forloop.counter }}. {{ service.name }}</h1>
        <p><abbr title="{{ service.name }}">{{ service.abbr }}</abbr>{{ service.resume }}</p>
      </article>
      {% empty %}
      <article>
        <p>还没有添加服务!</p>
      </article>
      {% endfor %}
    </article>
{% endblock %}
