<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device=device-width, initial=1.0">
    <title>静网</title>
</head>
<body>
    <h1>静网</h1>  
    <form method="POST" action="/services/{{ category.pk }}/add">
        <input id="id_new_service_name" name="new_service" type="text" placeholder="服务名">
        <input id="id_submit" type="submit" value="提交">
        {% csrf_token %}
    </form>
    <main>
        <header>
            <h1>Virtual Private Network</h1>
            <p><abbr title="Virtual Private Network">VPN</abbr>将专用网络延伸到公共网络上，使用户能够在共享或公共网络上发送和接收数据，就像他们的计算设备直接连接到专用网络上一样[1]。VPN的好处包括增加专用网络的功能、安全性和管理，它提供了对公共网络上无法访问的资源访问通常用于远程办公人员。加密很常见但不是VPN连接的固有部分。</p>
        </head>
        <table id="id_service_table">
            {% for service in category.service_set.all %}
            <tr><td>{{ forloop.counter }}. {{ service.name }}</td></tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>

