// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column; 
    
    > header, main, footer {
        padding: 1rem;
    }

    >header {
        background: $primary;
        div.logo {
            a {
                text-decoration: none;
                color: $white;
                @extend .h1;
            }

        }
    }

    >main {
        flex: 1;
        > header {
            padding: 3rem 0;
            align-items: center;
            h1 {
                @extend .display-1;
            }
            p {
                @extend .lead;
                @extend .display-5;
            }

        }

        > article {
            @extend .bg-secondary;
            @extend .bg-opacity-10;
            padding: 1rem;
            margin-bottom: 1rem;
            > article {
                @extend .bg-secondary;
                @extend .bg-opacity-25;
            }
            > section, >article {
                padding: 1rem;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0rem;
                }

                > header {
                    padding: 1rem;
                    h1 {
                        a {
                            text-decoration: none;
                        }
                    }
                    p {
                        @extend .lead;
                    }
                }

                > article {
                    @extend .bg-secondary;
                    @extend .bg-opacity-25;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    &:last-child {
                        margin-bottom: 0rem;
                    }
                }

            }
        }

        >aside {
            padding: 1rem;
            @extend .bg-secondary;
            @extend .bg-opacity-10;

            form {
                * {
                    margin-bottom: 1rem;
                    &:last-child {
                        margin-bottom: 0rem;
                    }
                }
                input, textarea {
                    display: block;
                    width: 70%;
                }
            }

        }
    }
}
